[Unit]
Description=steam hour counter for non steam programs

[Service]
Type=simple
ExecStart=/usr/bin/steam-hour-counter
Restart=on-failure
ExecReload=kill -HUP $MAINPID
StandardOutput=journal

[Install]
WantedBy=default.target